# Core
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/liveart
REDIS_URL=redis://localhost:6379

# LiveKit
LIVEKIT_URL=
NEXT_PUBLIC_LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Wallets
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Inscriber
INSCRIBER_BTC_RECEIVE_ADDR=

# Platform fees
PLATFORM_FEE_BPS=250
